*{
    margin: 0px;
    padding: 0px;
    
}
html,body{
    background-image: url(../img/下载.jpg);
    background-size: 100%;
    
}
.container{
    position: relative;
    left: 90px;
    top: 150px;
    background-color: white;
    width: 500px;
    height: 400px;

   
    
}
#username{
    width: 300px;

}
#password{
    width: 300px
}
.btn{
    width: 300px;
    background-color: blue;
    color: white;
    text-align: center;
}